li {
    padding-left: 0em;
    color: white;
}
 body {
   font-style: futura;
   background-image: url(nike3.jpg);
   background-repeat: no-repeat;
   background-position: top right;
   background-size: 50%;
   background-blend-mode: inherit;
}


h1 {
  padding-top: 1em;
  color: white;
  text-align: center;
  font-size: 300%;

}

p {
  color: white;
  text-align: center;
}
